<div class="product__sidebar">
    <div class="product__sidebar__view">
        <div class="section-title">
            <h5>Top Views</h5>
        </div>
        <ul class="filter__controls">
            <li [ngClass]="{active: (topViewsFilter$ | async) === TopViewsFilter.DAY }"
                (click)="onChangeFilter(TopViewsFilter.DAY)">Day</li>
            <li [ngClass]="{active: (topViewsFilter$ | async) === TopViewsFilter.WEEK}"
                (click)="onChangeFilter(TopViewsFilter.WEEK)">Week</li>
            <li [ngClass]="{active: (topViewsFilter$ | async) === TopViewsFilter.MONTH}"
                (click)="onChangeFilter(TopViewsFilter.MONTH)">Month</li>
            <li [ngClass]="{active: (topViewsFilter$ | async) === TopViewsFilter.YEAR}"
                (click)="onChangeFilter(TopViewsFilter.YEAR)">Years</li>
        </ul>
        <div class="filter__gallery">
            <app-product-medium *ngFor="let product of sideBarViewList$ | async " [product]="product">
            </app-product-medium>
        </div>
    </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>New Comment</h5>
        </div>
        <app-product-small *ngFor="let product of sideBarCommentList$ | async" [product]="product">
        </app-product-small>
    </div>
</div>